---
// Define props from Astro
const { title, subTitle, partners } = Astro.props;
import FullStar from "@components/ui/stars/FullStar.astro";

interface Partner {
  icon: any;
  name?: string;
  href?: string;
}

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  partners: Partner[];
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-2xl leading-tight font-bold text-balance text-neutral-800 sm:text-3xl dark:text-neutral-200"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="leading-tight text-pretty text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-8">
      <!-- Review 1 -->
      <div
        class="flex transform cursor-pointer flex-col gap-3 rounded-md border border-neutral-300 p-5 transition-all duration-300 hover:-translate-y-1 hover:shadow-xl dark:border-neutral-700"
      >
        <div class="flex w-full items-center gap-4">
          <div class="flex flex-col gap-0">
            <p
              class="text-lg font-semibold text-neutral-800 dark:text-neutral-200"
            >
              Nekoya S.
            </p>
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              The Meadows, Dubai
            </p>
          </div>
        </div>

        <p class="text-pretty text-neutral-600 dark:text-neutral-400">
          <b>Professional, Reliable, and Highly Recommended</b><br />
          I’m very satisfied with this company. They are professional in every sense—punctual,
          responsible, clean, and polite. They handled the job exceptionally well.
          I had a ceiling leak in my bathroom, which required repair and repainting,
          and the team completed everything perfectly. Highly recommended!
        </p>

        <div class="flex items-center gap-2">
          {
            Array(5)
              .fill(0)
              .map((_, i) => <FullStar key={i} />)
          }
          <span class="text-sm text-neutral-600 dark:text-neutral-400"
            >5.0 rating</span
          >
        </div>
      </div>

      <!-- Review 2 -->
      <div
        class="flex transform cursor-pointer flex-col gap-3 rounded-md border border-neutral-300 p-5 transition-all duration-300 hover:-translate-y-1 hover:shadow-xl dark:border-neutral-700"
      >
        <div class="flex w-full items-center gap-4">
          <div class="flex flex-col gap-0">
            <p
              class="text-lg font-semibold text-neutral-800 dark:text-neutral-200"
            >
              Yana M.
            </p>
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              Business Bay, Dubai
            </p>
          </div>
        </div>

        <p class="text-pretty text-neutral-600 dark:text-neutral-400">
          <b>Exceptional Renovation Experience from Start to Finish</b><br />
          I recently hired Renotech for a full renovation project, and I couldn’t
          be more impressed. From start to finish, their team was professional, reliable,
          and highly skilled. They listened to my ideas, offered expert guidance,
          and delivered on time and within budget. The workmanship is exceptional—every
          detail reflects their commitment to excellence. Communication was seamless,
          and the team was always friendly, respectful, and approachable. I highly
          recommend Renotech and will gladly work with them again.
        </p>

        <div class="flex items-center gap-2">
          {
            Array(5)
              .fill(0)
              .map((_, i) => <FullStar key={i} />)
          }
          <span class="text-sm text-neutral-600 dark:text-neutral-400"
            >5.0 rating</span
          >
        </div>
      </div>

      <!-- Review 3 -->
      <div
        class="flex transform cursor-pointer flex-col gap-3 rounded-md border border-neutral-300 p-5 transition-all duration-300 hover:-translate-y-1 hover:shadow-xl dark:border-neutral-700"
      >
        <div class="flex w-full items-center gap-4">
          <div class="flex flex-col gap-0">
            <p
              class="text-lg font-semibold text-neutral-800 dark:text-neutral-200"
            >
              Marharyta N.
            </p>
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              Jumeirah Lake Towers, Dubai
            </p>
          </div>
        </div>
        <p class="text-pretty text-neutral-600 dark:text-neutral-400">
          <b>Outstanding Service</b><br />
          An amazing, friendly, honest, and polite team that made the whole experience
          stress-free. Communication was smooth and effortless, and everything was
          handled with professionalism and care. I truly appreciate their hard work—thank
          you, and keep up the great work!
        </p>
        <div class="flex items-center gap-2">
          {
            Array(5)
              .fill(0)
              .map((_, i) => <FullStar key={i} />)
          }
          <span class="text-sm text-neutral-600 dark:text-neutral-400"
            >5.0 rating</span
          >
        </div>
      </div>
    </div>

    <!-- Clients Group SVGs -->
    <!-- {
      partners.map((partner) => (
        <a href={partner.href} target="_blank" rel="noopener noreferrer">
              <div set:html={partner.icon} />
        </a>
      ))
    } -->
  </div>
</section>
